{{#is this.showHeaderTop "false"}}
    <button type="button" class="main-navigation__toggle-btn js__main-navigation__toggle-btn" >
        <span>toggle menu</span>
    </button>
{{/is}}

{{#if this.dropdownMenu}}
<nav class="main-navigation js__main-navigation _main-navigation-dropdown">

        <div class="main-navigation__items-wrp js__navigation__items-wrp">

            <ul class="main-navigation__items-list js__main-navigation__items-list">

                <li class="main-navigation__item js__main-navigation__item uid-2 point-1 first"><a href="/" class="main-navigation__item-link js__main-navigation__item-link">Home</a></li><li class="main-navigation__item js__main-navigation__item _sub uid-21 point-2 middle"><a href="/content/" class="main-navigation__item-link js__main-navigation__item-link">Content</a><div class="tablet-arrow"><a href="#" class="main-navigation__open-sub-menu-link js__main-navigation__open-sub-menu-link">Open</a></div><div class="dropdown_menu"><div class="container"><div class="row"><div class="col-md-3"> <ul class="main-navigation__sub-item-list"><li class="main-navigation__sub-item uid-3 point-1 first"><a href="/content/typical-page-content/headers/" class="main-navigation__sub-item-link _sub">Typical page content</a><ul class="main-navigation__sub-item-list _sub"><li class="main-navigation__sub-item uid-15 point-1 first"><a href="/content/typical-page-content/headers/" class="main-navigation__sub-item-link">Headers</a></li><li class="main-navigation__sub-item uid-16 point-2 middle"><a href="/content/typical-page-content/text-media/" class="main-navigation__sub-item-link">Text &amp; Media</a></li><li class="main-navigation__sub-item uid-17 point-3 middle"><a href="/content/typical-page-content/bulletlist/" class="main-navigation__sub-item-link">Bulletlist</a></li><li class="main-navigation__sub-item uid-14 point-4 middle"><a href="/content/typical-page-content/tables/" class="main-navigation__sub-item-link">Tables</a></li><li class="main-navigation__sub-item uid-18 point-5 last"><a href="/content/typical-page-content/file-links/" class="main-navigation__sub-item-link">File Links</a></li></ul></li><li class="main-navigation__sub-item uid-20 point-2 middle"><a href="/content/special-elements/special-menus/" class="main-navigation__sub-item-link _sub">Special Elements</a><ul class="main-navigation__sub-item-list _sub"><li class="main-navigation__sub-item uid-19 point-1 last"><a href="/content/special-elements/special-menus/" class="main-navigation__sub-item-link">Special Menus</a></li></ul></li></ul></div><div class="col-md-3"><ul class="main-navigation__sub-item-list"><li class="main-navigation__sub-item uid-24 point-4 middle"><a href="/content/form-elements/login-form/" class="main-navigation__sub-item-link _sub">Form Elements</a><ul class="main-navigation__sub-item-list _sub"><li class="main-navigation__sub-item uid-25 point-1 first"><a href="/content/form-elements/login-form/" class="main-navigation__sub-item-link">Login form</a></li><li class="main-navigation__sub-item uid-27 point-2 last"><a href="/content/form-elements/mail-form/" class="main-navigation__sub-item-link">Mail form</a></li></ul></li></ul></div><div class="col-md-3"><ul class="main-navigation__sub-item-list"><li class="main-navigation__sub-item uid-5 point-6 middle"><a href="/content/plugins/" class="main-navigation__sub-item-link _sub">Plugins</a><ul class="main-navigation__sub-item-list _sub"><li class="main-navigation__sub-item uid-43 point-1 first"><a href="/content/plugins/news/list/" class="main-navigation__sub-item-link">News</a></li><li class="main-navigation__sub-item uid-69 point-2 middle"><a href="/content/plugins/google-map/" class="main-navigation__sub-item-link">Google Map</a></li><li class="main-navigation__sub-item uid-71 point-3 last"><a href="/content/plugins/solr/" class="main-navigation__sub-item-link">Solr</a></li></ul></li></ul></div><div class="col-md-3"><ul class="main-navigation__sub-item-list"><li class="main-navigation__sub-item uid-4 point-8 last"><a href="/content/content-elements/accordion/" class="main-navigation__sub-item-link _sub">Content Elements</a><ul class="main-navigation__sub-item-list _sub"><li class="main-navigation__sub-item uid-32 point-1 first"><a href="/content/content-elements/accordion/" class="main-navigation__sub-item-link">Accordion</a></li><li class="main-navigation__sub-item uid-13 point-2 middle"><a href="/content/content-elements/bigicontextbutton/" class="main-navigation__sub-item-link">BigIconTextButton</a></li><li class="main-navigation__sub-item uid-28 point-3 middle"><a href="/content/content-elements/icontextbutton/" class="main-navigation__sub-item-link">IconTextButton</a></li><li class="main-navigation__sub-item uid-29 point-4 middle"><a href="/content/content-elements/imagetextlink/" class="main-navigation__sub-item-link">ImageTextLink</a></li><li class="main-navigation__sub-item uid-30 point-5 middle"><a href="/content/content-elements/logocarousel/" class="main-navigation__sub-item-link">LogoCarousel</a></li><li class="main-navigation__sub-item uid-12 point-6 middle"><a href="/content/content-elements/quote/" class="main-navigation__sub-item-link">Quote</a></li><li class="main-navigation__sub-item uid-10 point-7 middle"><a href="/content/content-elements/slider/" class="main-navigation__sub-item-link">Slider</a></li><li class="main-navigation__sub-item uid-31 point-8 middle"><a href="/content/content-elements/tabs/" class="main-navigation__sub-item-link">Tabs</a></li><li class="main-navigation__sub-item uid-79 point-9 middle"><a href="/content/content-elements/fullwidthimage/" class="main-navigation__sub-item-link">FullWidthImage</a></li><li class="main-navigation__sub-item uid-80 point-10 middle"><a href="/content/content-elements/responsivevideo/" class="main-navigation__sub-item-link">ResponsiveVideo</a></li><li class="main-navigation__sub-item uid-97 point-11 last"><a href="/content/content-elements/navigation-level-3/" class="main-navigation__sub-item-link _sub">Navigation Level 3</a></li></ul></li></ul></div></div></div></div></li><li class="main-navigation__item js__main-navigation__item _sub uid-45 point-3 middle"><a href="/community/t3kit-on-github/" class="main-navigation__item-link js__main-navigation__item-link">Community</a><div class="tablet-arrow"><a href="#" class="main-navigation__open-sub-menu-link js__main-navigation__open-sub-menu-link">Open</a></div><div class="dropdown_menu"><div class="container"><div class="row"><div class="col-md-3"> <ul class="main-navigation__sub-item-list"><li class="main-navigation__sub-item uid-46 point-1 last"><a href="https://github.com/t3kit" class="main-navigation__sub-item-link">t3kit on Github</a></li></ul></div></div></div></div></li><li class="main-navigation__item js__main-navigation__item _sub uid-47 point-4 middle"><a href="/documentation/" class="main-navigation__item-link js__main-navigation__item-link">Documentation</a><div class="tablet-arrow"><a href="#" class="main-navigation__open-sub-menu-link js__main-navigation__open-sub-menu-link">Open</a></div><div class="dropdown_menu"><div class="container"><div class="row"><div class="col-md-3"> <ul class="main-navigation__sub-item-list"><li class="main-navigation__sub-item uid-73 point-1 last"><a href="/documentation/content-elements/" class="main-navigation__sub-item-link _sub">Content Elements</a><ul class="main-navigation__sub-item-list _sub"><li class="main-navigation__sub-item uid-72 point-1 last"><a href="/documentation/content-elements/wrapper/" class="main-navigation__sub-item-link">Wrapper</a></li></ul></li></ul></div></div></div></div></li><li class="main-navigation__item js__main-navigation__item uid-48 point-5 middle"><a href="http://demo.t3kit.com" class="main-navigation__item-link js__main-navigation__item-link">Demo</a></li><li class="main-navigation__item js__main-navigation__item uid-59 point-6 last"><a href="http://t3kit.github.io/theme_t3kit_customizer" class="main-navigation__item-link js__main-navigation__item-link">Customizer</a></li>



            </ul>

        </div>
    </nav>
{{else}}
<nav class="main-navigation js__main-navigation">
    <div class="main-navigation__items-wrp js__navigation__items-wrp">
        <ul class="main-navigation__items-list js__main-navigation__items-list">

            {{!add navigation data}}
            {{!grunt/helpers/helper-addNavData.js) }}
            {{addNavData}}

            {{!display main menu}}
            {{!grunt/helpers/helper-mainMenu_firstLevel.js) }}
            {{~#mainMenu_firstLevel pages~}}

                {{!if subpages exists}}
                {{~#if subpages~}}
                    <li class="main-navigation__item js__main-navigation__item {{#is ../../this.navDropdown 'true' }}_sub {{/is}} {{#if this.isCurrentPage}} _active{{/if}}
                    {{!add "active" class if some of children also active}}
                    {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                    {{~#ifChildrensActive_addClass ../../pages ~}}
                        _active
                    {{~/ifChildrensActive_addClass~}}">

                        {{~#is data.externalLink false~}}
                            <a  href="{{basename}}.html" class="main-navigation__item-link js__main-navigation__item-link" >{{data.title}}</a>
                        {{~else~}}
                            <a  href="{{data.externalLink}}" class="main-navigation__item-link js__main-navigation__item-link" >{{data.title}}</a>
                        {{~/is~}}
                        <a href="{{basename}}.html" class="main-navigation__open-sub-menu-link js__main-navigation__open-sub-menu-link">Open</a>

                        <ul class="main-navigation__sub-item-list">

                            {{!build sub menu level 2}}
                            {{!grunt/helpers/helper-submenu.js}}
                            {{~#subMenu ../../pages 2~}}
                                <li class="main-navigation__sub-item {{#if this.isCurrentPage}} _active{{/if}}
                                {{!add "active" class if some of children also active}}
                                {{! grunt/helpers/helper-ifChildrensActive_addClass.js}}
                                {{~#ifChildrensActive_addClass ../../../pages ~}}
                                    _active
                                {{~/ifChildrensActive_addClass~}}">
                                    {{~#is data.externalLink false~}}
                                        <a class="main-navigation__sub-item-link" href="{{basename}}.html">{{data.title}}</a>
                                    {{~else~}}
                                        <a class="main-navigation__sub-item-link" href="{{data.externalLink}}">{{data.title}}</a>
                                    {{~/is~}}
                                </li>
                            {{~/subMenu~}}

                        </ul>
                    </li>

                {{!if no subpages}}
                {{~else~}}
                    <li class="main-navigation__item js__main-navigation__item {{#if this.isCurrentPage}}_active{{/if}}">
                        {{~#is data.externalLink false~}}
                            <a class="main-navigation__item-link" href="{{basename}}.html">{{data.title}}</a>
                        {{~else~}}
                            <a class="main-navigation__item-link" href="{{data.externalLink}}">{{data.title}}</a>
                        {{~/is~}}
                    </li>
                {{~/if~}}

            {{~/mainMenu_firstLevel~}}

            {{#is this.showMainNavSearch "true"}}
                <form action="/solr.html" accept-charset="utf-8">
                    <div class="main-navigation__search-btn-wrp">
                        <a class="main-navigation__search-btn js__main-navigation__search-btn" href="">Search<span></span></a>
                    </div>
                    <div class="main-navigation__search-box js__main-navigation__search-box" ><input data-search="searchSuggest" placeholder="Search..." type="search"></div>
                </form>
            {{/is}}
        </ul>
    </div>
</nav>
{{/if}}
